:root {
    --bg-color: #06080F; /* Deep space black */
    --surface-color: #111522; /* Dark grey-blue */
    --surface-light: #1A2136;
    --neon-cyan: #00F0FF;
    --neon-purple: #B026FF;
    --text-main: #E0E6ED;
    --text-dim: #7A869A;
    --border-thin: 1px solid rgba(0, 240, 255, 0.2);
    --border-thick: 2px solid var(--neon-cyan);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-main);
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
button{
    cursor: pointer;
    transition: all 0.3s ease;
}

.mainMenu{
    height: fit-content;
    width: 40%;
    color: #000;
    padding: 3rem;
    border: 1px solid rgba(136, 192, 214, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 0 1000px 100px rgba(27, 227, 241, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.mainMenu h1 {
    text-align: center;
    font-family: monospace;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
}
.mainMenu h1 span {
    color: var(--neon-cyan);
}
.mainMenu h2 {
    font-family: monospace;
    font-size: 22px;
    font-weight: 100;
    color: var(--text-dim);
}
.mainMenu div button {
    letter-spacing: 1px;
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid #4eb7be54;
    border-radius: 5px;
    font-size: 18px;
    color: var(--text-dim);
    transition: all 0.3s ease;
}
.mainMenu div button:hover{
    color: var(--neon-cyan);
    border-color: var(--neon-cyan);
    box-shadow: 0 0 10px var(--neon-cyan);
}

.mainMenu div button.highlight{
    color: var(--neon-cyan);
    border-color: var(--neon-cyan);
    box-shadow: 0 0 10px var(--neon-cyan);
}

.mainMenu .generate{
    padding: 10px 40px;
    font-size: 20px;
    background-color: transparent;
    color: var(--neon-purple);
    border-color: var(--neon-purple);
    border-radius: 5px;
}
.mainMenu .generate:hover{
    color: #fff;
    background-color: var(--neon-purple);
    box-shadow: 0 0 10px var(--neon-purple);
}

.gameGround{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gameGround .board {
    font-family: 'Courier New', monospace;
    display: grid;
    border: 1px solid #00d0f0;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: repeat(9, auto);
    gap: 0;
    margin-top: 20px;
}

.gameGround .board .cell {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    border: 1px solid #9be9f8;
    outline: none;
    color: var(--neon-purple);

}
.gameGround .numbers {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}
.gameGround .numbers div{
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 900;
    background-color: transparent;
    box-shadow: 0 0 10px  #7a7a7a54;
    color: var(--neon-cyan);
    border: 1px solid #4eb7be54;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.gameGround .numbers div:hover {
    color: var(--neon-cyan);
    border-color: var(--neon-cyan);
    box-shadow: 0 0 10px var(--neon-cyan);
}
.gameGround .numbers div.active {
    color: #fff;
    background-color: var(--neon-cyan);
    border-color: var(--neon-cyan);
    box-shadow: 0 0 10px var(--neon-cyan);
}


/* Thick borders for 3x3 boxes */
.cell:nth-child(3n) {
    border-right: 2px solid black;
}

.cell:nth-child(n+19):nth-child(-n+27),
.cell:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 2px solid black;
}

/* Left border */
.cell:nth-child(9n+1) {
    border-left: 2px solid black;
}

/* Top border */
.cell:nth-child(-n+9) {
    border-top: 2px solid black;
}

.gameGround .board .cell.fixed {
    color: #000;
}

.cell.invalid {
    background-color: #ca4d4d;
}

.box-light {
    background-color: #ffffff;
}

.box-dark {
    background-color: #e4e4e4;
}

.hide{
    display: none;
}

.highlight{
    background-color: #30d6ff54;
}

.numberFixed{
    pointer-events: none;
}

.numbers div.disabled{
    pointer-events: none;
    background-color: rgb(226, 226, 226);
    color: #fff;
    user-select: none;
}