
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
}

.board {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    gap: 0;
    margin-top: 20px;
}

.cell {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #999;
    outline: none;
    color: rgb(233, 202, 29);
}

/* Thick borders for 3x3 boxes */
.cell:nth-child(3n) {
    border-right: 2px solid black;
}

.cell:nth-child(n+19):nth-child(-n+27),
.cell:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 2px solid black;
}

/* Left border */
.cell:nth-child(9n+1) {
    border-left: 2px solid black;
}

/* Top border */
.cell:nth-child(-n+9) {
    border-top: 2px solid black;
}

.fixed {
    background-color: #ddd;
    color: aqua;
    font-weight: bold;
}

.cell.invalid {
    background-color: #ca4d4d;
}

.box-light {
    background-color: #867878;
}

.box-dark {
    background-color: #413f3f;
}